%h1 Listing catalogs_locations

%table
  %thead
    %tr
      %th Abbr
      %th Name es
      %th Name en
      %th
      %th
      %th

  %tbody
    - @catalogs_locations.each do |catalogs_location|
      %tr
        %td= catalogs_location.abbr
        %td= catalogs_location.name_es
        %td= catalogs_location.name_en
        %td= link_to 'Show', catalogs_location
        %td= link_to 'Edit', edit_catalogs_location_path(catalogs_location)
        %td= link_to 'Destroy', catalogs_location, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Location', new_catalogs_location_path
