%p#notice= notice

%p
  %b Abbr:
  = @catalogs_location.abbr
%p
  %b Name es:
  = @catalogs_location.name_es
%p
  %b Name en:
  = @catalogs_location.name_en

= link_to 'Edit', edit_catalogs_location_path(@catalogs_location)
\|
= link_to 'Back', catalogs_locations_path
