%p#notice= notice

%p
  %b Title:
  = @publication.title
%p
  %b Link:
  = @publication.link
%p
  %b Catalogs pub type:
  = @publication.catalogs_pub_type

= link_to 'Edit', edit_publication_path(@publication)
\|
= link_to 'Back', publications_path
