-# frozen_string_literal: true
= simple_form_for @resource, remote: false do |f|

  - link_to_close = link_to "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe,
    params[:group_id].nil? ? group_members_path : by_group_path(params[:group_id]), class: "button btn btn-secondary"
  - link_to_save = f.button :submit, t('commands.save'), class: "btn-primary"

  - unless params[:group_id].nil?
    = hidden_field_tag :group_id, params[:group_id]

  .text-right
    = link_to_close.html_safe
    = link_to_save.html_safe
  %hr

  = f.error_notification
  .row
    .col-2= f.label t('activerecord.attributes.group_member.group_and_member_type')
    - if params[:group_id]
      .col-5= f.association :group, label_method: :name_es, prompt: t('messages.choose_group'), label: false, selected: params[:group_id], disabled: true
    -else
      .col-5= f.association :group, collection: current_user.admin_groups_collection, label_method: :name_es, prompt: t('messages.choose_group'), label: false

    .col-5= f.association :catalogs_member_type, collection: Catalogs::MemberType.order('rank'), label_method: :name_es, prompt: t('messages.choose_member_type'), label: false
  .row
    .col-2= f.label :firstname
    .col-3= f.input :firstname, label: false
    .col-2.text-right= f.label :lastname
    .col-5= f.input :lastname, label: false
  .row
    .col-2= f.label :email
    .col-3= f.input :email, label: false, as: :email
    .col-2.text-right= f.label :phone_numbers
    .col-5= f.input :phone_numbers, label: false, hint: 'Incluir clave lada del México y el número a 10 dígitos: (52) 442 XXXXXXX'

  .row
    .col-2
      = f.label :avatar
    .col-3
      = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg,image/psd', id:'avatar-file-upload'
    .col-7.text-truncate
      -if @resource.avatar.attached?
        = f.input 'remove_avatar', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.avatar.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}

  %br
  .row.group_member_level
    .col-2= f.label :level
    .col-5= f.association :catalogs_level, label_method: :name_es, label: false

  %hr


  .group_member_links.links.p-2
    .row
      .col-2
        = link_to_add_row t('commands.add_link'), group_member_add_link_path(@resource.links.count), f, :links, class: 'btn mr-sm-2 btn-secondary', remote: true, id: 'add_link_button'
      .col-10.mt-3
        Links relevantes : página del grupo, ORCID, ResearchGate, PubFacts, Tweeter académico, blog académico, etc.
    #link_list
      = f.simple_fields_for :links do |builder|
        = render 'link', b: builder

  %hr

  .group_member_publications.publications.p-2
    .row
      .col-3
        = link_to_add_row t('commands.add_publication'), group_member_add_publication_path(@resource.publications.count), f, :publications, class: 'btn mr-sm-2 btn-secondary', remote: true, id: 'add_publication_button'
      .col-9.mt-3
        Artículos y revisiones, capítulos de libros, otras. Formato recomendado
        %strong PubMed Sumary (text).
        Máximo 10. Ejemplo:
    .row.no-gutters
      .col-12.mt-3.border.rounded.p-2
        Ishida M, Ushioda S, Nagasawa Y, Komuroa Y, Tang Z, Hu L, Tamura T, Sakatani K.
        Development of an IoT-Based Monitorin System for Healthcare: A Preliminary Study. Adv Exp Med Biol. 2020;1232:291-297.
        doi: 10.1007/978-3-030-34461-0_37. PubMed PMID: 31893423.
    #publication_list
      = f.simple_fields_for :publications do |builder|
        = render 'publication', b: builder

  %hr

  .row.group_member_resume
    .col-3
      = f.label :resume
    .col-3.mb-2
      = f.file_field :resume, accept: 'application/pdf', id:'resume-upload'
    .col-6.text-truncate
      -if @resource.resume.attached?
        = f.input 'remove_resume', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.resume.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}
  = f.input :activities_or_topics_es, :input_html => {:rows => 5, maxlength: 300}, placeholder: t('messages.max_chars', chars: 300)
  = f.input :activities_or_topics_en, :input_html => {:rows => 5, maxlength: 300}, placeholder: t('messages.max_chars', chars: 300)
  = f.input :academic_career_es, :input_html => {:rows => 5, maxlength: 500}, placeholder: t('messages.max_chars', chars: 500)
  = f.input :academic_career_en, :input_html => {:rows => 5, maxlength: 500}, placeholder: t('messages.max_chars', chars: 500)
  = f.input :research_interests_es, :input_html => {:rows => 10, maxlength: 2000}, placeholder: t('messages.max_chars', chars: 2000)
  = f.input :research_interests_en, :input_html => {:rows => 10, maxlength: 2000}, placeholder: t('messages.max_chars', chars: 2000)

  .row.group_member_research_photo
    .col-2
      = f.label :research_photo
    .col-3.mb-2
      = f.file_field :research_photo, accept: 'image/png,image/gif,image/jpeg,image/psd', id:'research-photo-upload'
    .col-7.text-truncate
      -if @resource.research_photo.attached?
        = f.input 'remove_research_photo', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.research_photo.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}

  = f.input :research_photo_descr_es, :input_html => { maxlength: 180}, placeholder: t('messages.max_chars', chars: 180)
  = f.input :research_photo_descr_en, :input_html => { maxlength: 180}, placeholder: t('messages.max_chars', chars: 180)

  %br
  %h6
    Llenar la siguiente sección
    %strong sólo para ex-miebros
    del grupo de trabajo:
  %hr

  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_workplace')
    .col-10= f.input :current_workplace, label: false
  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_position_es')
    .col-10= f.input :current_position_es, label: false
  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_position_en')
    .col-10= f.input :current_position_en, label: false

  %hr
  .text-right
    = link_to_close.html_safe
    = link_to_save.html_safe
