-# frozen_string_literal: true
= simple_form_for @resource, remote: false do |f|

  .text-right
    = link_to "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, group_members_path, class: "button btn btn-secondary"
    = f.button :submit, t('commands.save'), class: "btn-primary"
  %hr

  = f.error_notification
  .row
    .col-2= f.label t('activerecord.attributes.group_member.group_and_member_type')
    .col-5= f.association :group, label_method: :name_es, prompt: t('messages.choose_group'), label: false
    .col-5= f.association :catalogs_member_type, collection: Catalogs::MemberType.order('rank'), label_method: :name_es, prompt: t('messages.choose_member_type'), label: false
  .row
    .col-2= f.label :firstname
    .col-3= f.input :firstname, label: false
    .col-2.text-right= f.label :lastname
    .col-5= f.input :lastname, label: false
  .row
    .col-2= f.label :email
    .col-3= f.input :email, label: false, as: :email
    .col-2.text-right= f.label :phone_numbers
    .col-5= f.input :phone_numbers, label: false

  .row.mb-2
    .col-2
      = f.label :avatar
    .col-3
      = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg,image/psd', id:'avatar-file-upload'
    .col-7.text-truncate
      -if @resource.avatar.attached?
        = f.input 'remove_avatar', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.avatar.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}

  .row.group_member_resume
    .col-2
      = f.label :resume
    .col-3.mb-2
      = f.file_field :resume, accept: 'application/pdf', id:'resume-upload'
    .col-7.text-truncate
      -if @resource.resume.attached?
        = f.input 'remove_resume', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.resume.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}

  = f.input :academic_career_es, :input_html => {:rows => 10}
  = f.input :academic_career_en, :input_html => {:rows => 10}
  = f.input :research_interests_es, :input_html => {:rows => 10}
  = f.input :research_interests_en, :input_html => {:rows => 10}

  .row.group_member_research_photo
    .col-2
      = f.label :research_photo
    .col-3.mb-2
      = f.file_field :research_photo, accept: 'image/png,image/gif,image/jpeg,image/psd', id:'research-photo-upload'
    .col-7.text-truncate
      -if @resource.research_photo.attached?
        = f.input 'remove_research_photo', :as => :boolean, label: t('activerecord.attributes.group_member.remove_attach', filename: @resource.research_photo.filename), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}



  = f.input :research_photo_descr_es
  = f.input :research_photo_descr_en

  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_workplace')
    .col-10= f.input :current_workplace, label: false
  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_position_es')
    .col-10= f.input :current_position_es, label: false
  .row
    .col-2= f.label t('activerecord.attributes.group_member.current_position_en')
    .col-10= f.input :current_position_en, label: false

  %hr
  .text-right
    = link_to "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, group_members_path, class: "button btn btn-secondary"
    = f.button :submit, t('commands.save'), class: "btn-primary"
