.row.m-3{id: "link_record_#{local_assigns[:b].index}"}
  .col-4
    = b.input :link, placeholder: 'www.personal.org', hint: 'URL del enlace'
  .col-3
    = b.input :name_es, placeholder: 'Página personal', hint: 'Nombre para mostrar'
  .col-3
    = b.input :name_en, placeholder: 'Personal page', hint: 'Nombre para mostrar (inglés)'
  .col-2.text-center
    = b.input_field :_destroy, as: :hidden
    .mt-4= link_to_fa_button({url: group_member_destroy_link_path(local_assigns[:b].index), remote: true, icon: 'fa-unlink', title: t('commands.remove_link'), html_class: 'btn-light'})

