.pub.m-3{id: "publication_record_#{local_assigns[:b].index}"}
  .row
    .col-3
      = b.association :catalogs_pub_type, label_method: :name_es,  selected: '1'
    .col-3
      = b.input :pub_date, as: :date, order: [:month, :year]
    .col-5
      = b.input :link
    .col-1.text-center
      = b.input_field :_destroy, as: :hidden
      .mt-4= link_to_fa_button({url: group_member_destroy_publication_path(local_assigns[:b].index), remote: true, icon: 'fa-trash-alt', title: t('commands.remove_publication'), html_class: 'btn-light'})
  .row
    .col-11
      = b.input :title, :input_html => {:rows => 7}

