// Table name singular, for url helpers
- helper_name_s = @resources.table_name.singularize
// Table name plural, for url helpers
- helper_name_p = @resources.table_name

- new_link = link_to_fa_button({url: new_group_member_path(group_id: params[:group_id]), text: t('commands.new'), html_class: 'btn-secondary', icon: 'fa-plus', remote: false})
= render partial: 'layouts/admin_menu', locals: {title: t(@resources.table_name), index_url: by_group_path(params[:group_id]), new_link: new_link}

.container.p-0
  .row
    .col-12
      .text-center.alert.alert-secondary.mt-2.mb-2.h5
        = link_to_fa_button({url: groups_path, icon: 'fa-long-arrow-alt-left', html_class: 'link pt-1', remote: false, title: t('commands.back_to_groups') })
        = Group.find(params[:group_id]).name_es

#records
  = render partial: 'records', locals: {hnp: 'by_group', hns: helper_name_s}
#show-dialog.modal{:role => "dialog", :tabindex => "-1"}
#new-update-dialog.modal{:role => "dialog", :tabindex => "-1"}
#delete-dialog.modal{:role => "dialog", :tabindex => "-1"}

-#%p.text-center= will_paginate @resources
%nav{"aria-label" => "..."}
  #paginate.pagination.justify-content-center.pagination-sm
    = will_paginate @resources, :container => false
%br

= javascript_pack_tag 'paginate', 'data-turbolinks-track': 'reload'

