%p.modal-header.text-center.alert.mt-2.mb-3.h5
  = t('group_member')
= render 'form'
%br

= javascript_pack_tag 'mt_setup_fields', 'data-turbolinks-track': 'reload'

-#
  %h1 Editing group_member

  = render 'form'

  = link_to 'Show', @group_member
  \|
  = link_to 'Back', group_members_path
