%h1 Listing group_members

%table
  %thead
    %tr
      %th Group
      %th Firstname
      %th Lastname
      %th Photo file name
      %th Email
      %th Phone numbers
      %th Academic career es
      %th Academic career en
      %th Research interest es
      %th Research interests en
      %th Photo res file name
      %th Photo res descr es
      %th Photo res descr en
      %th Catalogs member type
      %th Catalogs status
      %th Current position es
      %th Current position en
      %th Current workplace
      %th
      %th
      %th

  %tbody
    - @group_members.each do |group_member|
      %tr
        %td= group_member.group
        %td= group_member.firstname
        %td= group_member.lastname
        %td= group_member.photo_file_name
        %td= group_member.email
        %td= group_member.phone_numbers
        %td= group_member.academic_career_es
        %td= group_member.academic_career_en
        %td= group_member.research_interest_es
        %td= group_member.research_interests_en
        %td= group_member.photo_res_file_name
        %td= group_member.photo_res_descr_es
        %td= group_member.photo_res_descr_en
        %td= group_member.catalogs_member_type
        %td= group_member.catalogs_status
        %td= group_member.current_position_es
        %td= group_member.current_position_en
        %td= group_member.current_workplace
        %td= link_to 'Show', group_member
        %td= link_to 'Edit', edit_group_member_path(group_member)
        %td= link_to 'Destroy', group_member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Group member', new_group_member_path
