// Table name singular, for url helpers
- helper_name_s = @resources.table_name.singularize
// Table name plural, for url helpers
- helper_name_p = @resources.table_name

- new_link = link_to_fa_button({url: eval("new_#{helper_name_s}_path"), text: t('commands.new'), html_class: 'btn-secondary', icon: 'fa-plus', remote: false})
= render partial: 'layouts/admin_menu', locals: {title: t(@resources.table_name), index_url: eval("#{helper_name_p}_path"), new_link: new_link}

%br

#records
  = render partial: 'records', locals: {hnp: helper_name_p, hns: helper_name_s}
#show-dialog.modal{:role => "dialog", :tabindex => "-1"}
#new-update-dialog.modal{:role => "dialog", :tabindex => "-1"}
#delete-dialog.modal{:role => "dialog", :tabindex => "-1"}

-#%p.text-center= will_paginate @resources
%nav{"aria-label" => "..."}
  #paginate.pagination.justify-content-center.pagination-sm
    = will_paginate @resources, :container => false
%br

= javascript_pack_tag 'paginate', 'data-turbolinks-track': 'reload'

