- es = 'activerecord.attributes.group_member'
%p.modal-header.text-center.alert.mt-2.mb-3.h5
  = t('group_member')

= flash_messages(flash)

- link_to_close = link_to "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe,
  params[:group_id].nil? ? group_members_path : by_group_path(params[:group_id]), class: "button btn btn-secondary"
- link_to_edit = link_to_fa_button({url: edit_group_member_path(id: @resource, group_id: params[:group_id]),
  remote: false, icon: 'fa-pencil-alt', title: t('commands.edit'), text: t('commands.edit'),  html_class: 'btn-primary'})

.text-right
  = link_to_close.html_safe
  = link_to_edit.html_safe
%hr

.row
  .col-2.text-right
    - if @resource.avatar.attached?
      = image_tag @resource.avatar.variant(resize_to_limit: [100, 100])
  .col-10.text-left.align-middle
    %h5.mt-4= @resource.name
%hr

.row
  %strong.col-2.text-right= t("#{es}.group")
  .col-4= @resource.group.name_es
  %strong.col-2.text-right= t("#{es}.catalogs_member_type")
  .col-4= @resource.catalogs_member_type.name_es
%hr

.row
  %strong.col-2.text-right= t("#{es}.email")
  .col-4= @resource.email
  %strong.col-2.text-right= t("#{es}.phone_numbers")
  .col-4= @resource.phone_numbers
%hr

- @resource.catalogs_member_type.gm_attrs_arr.each do |gm_attr|
  - case gm_attr
  - when 'level'
    .row
      .col-2.text-right
        %strong.col-5= t("#{es}.#{gm_attr}")
      .col-10.text-left
        = @resource.catalogs_level.name_es
  - when 'academic_career_es', 'research_interests_es','academic_career_en', 'research_interests_en'
    .row
      %strong.col-5= t("#{es}.#{gm_attr}")
    .row
      .col-12= eval("@resource.#{gm_attr}")
  - when 'resume', 'research_photo'
    .row
      %strong.col-2.text-right= t("#{es}.#{gm_attr}")
      -if eval("@resource.#{gm_attr}.attached?")
        -if eval("@resource.#{gm_attr}.content_type") == 'application/pdf'
          .col-10= image_tag eval("@resource.#{gm_attr}"), size: "100x140"
        -else
          .col-10= image_tag eval("@resource.#{gm_attr}.variant(resize_to_limit: [300, 300])")
  - when 'links'
    - eval("@resource.#{gm_attr}").each_with_index do |link, i|
      .row
        %strong.col-2.text-right= t("#{es}.link") + " #{i+1}"
        .col-10
          = link_to link.link, link.link, target: "_blank"
          = "(#{link.name_es}, #{link.name_en})"
  - when 'publications'
    - eval("@resource.#{gm_attr}").each_with_index do |pub, i|
      .row
        %strong.col-2.text-right= t('publication') + " #{i+1}"
        .col-10
          = pub.title
  - else
    .row
      %strong.col-2.text-right= t("#{es}.#{gm_attr}")
      .col-10= eval("@resource.#{gm_attr}")
  %hr

.row
  %strong.col-2.text-right= t("#{es}.current_workplace")
  .col-10= @resource.current_workplace
%hr

.row
  %strong.col-2.text-right= t("#{es}.current_position_es")
  .col-10= @resource.current_position_es
%hr

.row
  %strong.col-2.text-right= t("#{es}.current_position_en")
  .col-10= @resource.current_position_en
%hr

.text-right
  = link_to_close.html_safe
  = link_to_edit.html_safe
