-# frozen_string_literal: true

= simple_form_for @resource, remote: true, html: { class: 'form-horizontal' },  wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

  = f.error_notification

  = f.input :name_es
  = f.input :name_en
  - if(params[:department_id])
    = f.association :catalogs_department, label_method: :name_es, disabled: true, selected: params[:department_id]
  - else
    = f.association :catalogs_department, label_method: :name_es

  = f.association :catalogs_location, label_method: :name_es
  .modal-footer
    .text-right
      = button_tag "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, data: { dismiss: "modal", type: 'button'}, class: 'button btn btn-secondary'
      = f.button :submit, t('commands.save'), class: "btn-primary"
