-# frozen_string_literal: true
= simple_form_for @resource, remote: true, html: { class: 'form-horizontal' },  wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

  = f.error_notification

  = f.input :name_es
  = f.input :name_en
  = f.input :rank, input_html: { min: 1 }

  = t("titles.attributes")
  %hr
  - @gm_attrs.each do |attr|
    -if @resource.attrs_include? attr
      = f.input "attr_#{attr}", :as => :boolean, label: t("activerecord.attributes.group_member.#{attr}"), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "checked"}
    -else
      = f.input "attr_#{attr}", :as => :boolean, label: t("activerecord.attributes.group_member.#{attr}"), wrapper_html: { class: 'sf-checkbox pl-5' }, input_html: { :checked => "unchecked"}

  .modal-footer
  .text-right
    = button_tag "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, data: { dismiss: "modal", type: 'button'}, class: 'button btn btn-secondary'
    = f.button :submit, t('commands.save'), class: "btn-primary"
