%h1 Listing catalogs_member_types

%table
  %thead
    %tr
      %th Name es
      %th Name en
      %th
      %th
      %th

  %tbody
    - @catalogs_member_types.each do |catalogs_member_type|
      %tr
        %td= catalogs_member_type.name_es
        %td= catalogs_member_type.name_en
        %td= link_to 'Show', catalogs_member_type
        %td= link_to 'Edit', edit_catalogs_member_type_path(catalogs_member_type)
        %td= link_to 'Destroy', catalogs_member_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Member type', new_catalogs_member_type_path
