-# frozen_string_literal: true
= simple_form_for @resource, remote: true, html: { class: 'form-horizontal' },  wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

  = f.error_notification

  = f.input :name
  = f.input :login
  = f.input :email
  = f.input :super_user

  .modal-footer
  .text-right
    = button_tag "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, data: { dismiss: "modal", type: 'button'}, class: 'button btn btn-secondary'
    = f.button :submit, t('commands.save'), class: "btn-primary"
-#
  = simple_form_for(@admin_user) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs

    .form-actions
      = f.button :submit