- es = "activerecord.attributes.admin/user"
= flash_messages(flash)

%table.table.table-striped.table-hover
  %thead
    %tr.row.ml-0.mr-0
      %th.col-6{:scope => "col"}= sortable 'name', t("#{es}.name"),  eval("#{hnp}_path")
      %th.col-2{:scope => "col"}= t("#{es}.login")
      %th.col-1{:scope => "col"}= t("#{es}.admin")
      %th.col-3{:scope => "col"}
  %tbody
    - @resources.each do |resource|
      -#if can? :update, resource
      %tr.row.ml-0.mr-0
        %td.col-6.text-truncate= resource.name
        %td.col-2= resource.login
        -if resource.super_user
          %td.th.col-1.align-bottom.text-center
            %i.far.fa-check-square
        -else
          %td.th.col-1.text-center.align-middle
            %i.far.fa-square

        %td.col-3.text-center
          = link_to_fa_button({url: resource, icon: 'fa-eye', title: t('commands.show'), data: {toggle: 'modal', target: '#show-dialog'}, html_class: 'btn-light'})
          = link_to_fa_button({url: eval("edit_#{hns}_path(resource)"), icon: 'fa-pencil-alt', title: t('commands.edit'), data: {toggle: 'modal', target: '#new-update-dialog'}, html_class: 'btn-light'})
          = link_to_fa_button({url: admin_edit_groups_admin_path(resource), icon: 'fa-users-cog', title: t('commands.edit_admin_groups'), data: {toggle: 'modal', target: '#edit-groups-admin-dialog'}, html_class: 'btn-light'})
          = link_to_fa_button({url: eval("#{hns}_delete_path(resource)"), icon: 'fa-trash-alt', title: t('commands.delete'), data: {toggle: 'modal', target: '#delete-dialog'}, html_class: 'btn-light'})

