- es = 'activerecord.attributes.admin/user'
%table.table
  %tbody
    %tr
      %td.th
        = t("#{es}.name")
      %td.tc
        = @resource.name
    %tr
      %td.th
        = t("#{es}.email")
      %td.tc
        = @resource.email
    %tr
      %td.th
        = t("#{es}.login")
      %td.tc
        = @resource.login
    %tr
      -if @resource.super_user
        %td.th
          %i.far.fa-check-square
      -else
        %td.th
          %i.far.fa-square
      %td.tc
        = t("#{es}.super_user")

.modal-footer
  = button_tag "<span class='fas fa-times'></span> #{t('commands.close')}".html_safe, data: { dismiss: "modal", type: 'button'}, class: 'button btn btn-secondary'
  -#%button.btn{:type => "button"} #{t('commands.edit')}
  = link_to_fa_button({url: eval("edit_#{hns}_path(@resource)"), icon: 'fa-pencil-alt', title: t('commands.edit'), text: t('commands.edit'), data: {dismiss: 'modal', toggle: 'modal', target: '#new-update-dialog'}, html_class: 'btn-primary'})
/button btn mr-sm-2