!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Grupos Académicos INB
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %body
      #r-header.m-0
        = image_pack_tag 'header.png', class: 'mx-auto d-block img-fluid mb-4'
      .container
        #r-content
          = yield
    %footer.text-center
      %p.text-muted
        Instituto de Neurobiología de la UNAM
